.ele{
    margin:1rem 2rem;
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(240, 238, 238);
    border-radius: 10px;
    align-items: center;
    box-shadow: 1px 0px 2px 0px white;

}
.size{
    border: 1px solid blue;
    border-radius: 5px;
    height: fit-content;
    width: 6rem;
    padding: 0.5rem;
    background-color: rgb(62, 62, 222);
    color: white;
    margin:0px auto;
}
.size:hover{
    background-color: rgb(9, 9, 189);
}
.semicontainer{
    width:50%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}