.form{
    display:flex;
    border:1px solid white;
    border-radius: 10px;
    padding: 1rem;
    background-color: rgb(240, 238, 238);
    color: rgb(62, 62, 222);
    text-align: center;
    width: fit-content;
    margin:1rem auto;
}
.item{
    text-align: center;
    display: flex;
    align-items:flex-end;
}
.quantity{
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-items: flex-start;
}
.sizeContainer{
    display: flex;
    flex-direction: row;
}
.size{
    padding: 0px;
    width: 3rem;
}
.button{
    width: auto;
    height: fit-content;
    padding: 0.5rem;
    border: 1px solid blue;
    border-radius: 5px;
    margin-top: auto;
    margin-bottom:1rem;
    background-color: rgb(62, 62, 222);
    color: white;
}
.button:hover{
    background-color: rgb(9, 9, 189);
}
.input{
    background: none;
    border: 1px solid blue;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 0.5rem;
    outline: none;
}

