.header{
    display: flex;
    background-color: rgb(62, 62, 222);
    color: whitesmoke;
   justify-content: space-between;
    padding: 1rem;
    align-items: center;
}
.button{
    background-color: rgb(240, 238, 238);
    width: fit-content;
    color: rgb(62, 62, 222);
    border: 0px;
    height: fit-content;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
    background-color: rgb(240, 238, 238);
    color:rgb(62, 62, 222);
    width: 2rem;
    margin-right: 1rem;

}
.count{
    font-weight: bold;
    font-size: large;
}